input::placeholder{
    font-weight: bold;
}

.w-80{
    width: 80%;
}

.f1{
    display: block;
}

.f2{
    display: none;
}

.text-custom{
    font-size: 2rem;
}

.list-option{
    list-style: none;
    overflow-y: auto;
    margin: 2rem 2rem 2.5rem 2rem;
}

.shadow-custom{
    box-shadow: 0.01rem 0.01rem 0.4rem 0.4rem #012bfc53;
}

.left-chat-microContainer {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-left: 2rem;
}

.alert1{
    display: none;
}

.left-chat-micro {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 1.8rem;
    transition: 500ms ease;
    box-shadow: 0 0 1.5rem 0.4rem transparent;
}

.li{
    width: 40%;
	margin-left: 8rem;
	border: 0.1rem solid grey;
    cursor: pointer;
    border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.documentimg{
    width: 3rem;
    margin: 0rem 0.2rem 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container {
	max-width: 120rem;
	margin: 0 auto;
}

