.bg-custom{
    background-color: rgb(40, 40, 158);
    height: fit-content;
}

.img-domesa{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: center;
}

.col-8{
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-nav{
    width: 60vw;
}

.nav-link, .active{
    color: white;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.row{
    width: 100%;
}

.navbar .navbar-nav .nav-link.active, .navbar-nav .nav-link:visited{
    color: white;
    border-bottom: 0.2rem solid white;

}

.navbar-nav .nav-link:hover{
    color: white;
}

@media (max-width: 991px) {
    .col-8{
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 600px) {
    .img-domesa{
        margin: 0.4rem;
        padding: 0.15rem;
        display: flex;
        justify-content: center;
        width: 30vw;
        height: 8vh;
    }

    col-8{
        display: flex;
        float: left;
    }
}