{% load static %}
<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/chat.css' %}">
    <title>Chat with Damky</title>
</head>
<body>    
    <header>
        HEADER
    </header>

    {% csrf_token %}
    <div class="main">
        <div class="left">
            <div class="left-chat">
                    <div class="left-chat-iaImgContainer">
                        <img src="{% static 'chat/damky.jpg' %}" alt="Imágen de IA" class="left-chat-iaImg">
                    </div>

                    <div class="left-chat-messagesContainer">
                        <ul class="left-chat-messages">
                            <li class="message-ia">
                                <span>
                                    Hola, soy Damky, ¿en qué puedo ayudarte hoy?
                                </span>
                            </li>
                            <li class="message-user">
                                <span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sit!
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="left-chat-microContainer">
                        <button class="left-chat-micro"><i class="fa-solid fa-microphone"></i></button>
                    </div>
            </div>

            <div class="left-write">
                <div action="" class="form-write">
                    <textarea placeholder="Pregunta algo..." class="left-write-input" autofocus></textarea>
                    <button type="submit" class="left-write-button" id="submitMessage"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="right-title">
                <span>D</span>
                <span>A</span>
                <span>M</span>
                <span>K</span>
                <span>Y</span>
            </div>

            <div class="right-commandContainer">
                <button class="right-command"><i class="fa-solid fa-trash"></i> Borrar chat</button>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="{% static 'chat/chat.js' %}"></script>
</body>
</html>